/* CSS declare variables */
:root {
  --red: #bb0a01;
  --dark-red: #810600;
  --light-pink: #e4dadf;
  --very-light-gray: #c5cfd3;
  --light-gray: #929fa6;
  --gray: #485864;
  --black: #0c1013;
  --white: #ffffff;
}

/* CSS styling document */
body {
  margin: 0;
  padding: 0;
  /*background-color: whitesmoke;*/
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Text color classes */
.text-red {
  color: var(--red);
}

.text-light-pink {
  color: var(--light-pink);
}

.text-light-gray {
  color: var(--light-gray);
}

.text-gray {
  color: var(--gray);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

/* Background color classes */
.bg-red {
  background-color: var(--red);
}

.bg-dark-red {
  background-color: var(--dark-red);
}

.bg-light-pink {
  background-color: var(--light-pink);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-very-light-gray {
  background-color: var(--very-light-gray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}
/* Text center class */
.text-center {
  text-align: center;
}

/* Font styling classes */
.font-bold {
  font-weight: bold;
}

.font-bolder {
  font-weight: 900;
}

.font-italic {
  font-style: italic;
}

/*Navigation bar*/

/* Navigation colour links */
nav li a {
  color: var(--red);
  text-decoration: none;
}
/*nav li {
  float: left;
}



#nav-position {
  position: relative;
  left: 0px;
  top: 0px;
}

#menu-position {
  position: relative;
  left: 0px;
  top: 10px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(7, auto);

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}*/

/*Navigation list*/
.flex-nav-list {
  display: flex;
  background: var(--white);
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

/*margin between navigaton bar items*/
.nav-item {
  margin-right: 2rem;
}

/*Only the logo*/
.nav-item:first-child {
  margin-right: auto;
  margin-left: 1rem;
}

/*MOOC website h2*/
.red-text h2 {
  float: right;
}

/*.input-size {
  height: 45px;
}

/*#log-in-register {
  position: absolute;
  left: 1128px;
  top: 18px;
}*/

.logo {
  width: 60px;
  height: auto;
}

/* button preferences*/
.btn-preferences {
  border-radius: 6px;
  border-color: var(--red);
  font-size: 18px;
  width: auto;
  height: 30px;
}

.white-button {
  background: #ffffff;
  border-radius: 16px;
  border-color: #bb0a01;
  font-size: 25px;
  width: 192px;
  height: 52px;
  color: #bb0a01;
  border-width: 5px;
}
.white-button:hover {
  background-color: #ebebeb;
}
.white-button:active {
  background-color: #e5e5e5;
  box-shadow: 0 2px #485864;
  transform: translateY(2px);
}

/*
.red-button {
  background: #bb0a01;
  border-radius: 6px;
  font-size: 18px;
  width: 192px;
  height: 52px;
  color: #ffffff;
}
.red-button:hover {
  background-color: #ec0c00;
}
.red-button:active {
  background-color: #a70800;
  box-shadow: 0 2px rgb(141, 141, 141);
  transform: translateY(2px);
}*/

/* Introduction page*/
#intro {
  background-image: url(../images/intro_image.png);
  background-size: cover;
  background-position: 50% 50%;
  height: 80vh;
  width: auto;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: realtive;
}

.overlay h2 {
  color: #e4dadf;
  font-size: 48px;
}

#grey-rectalngle {
  background: #485864;
  opacity: 0.75;
  width: 987px;
  height: 92px;
}

/* MOOC INFO*/
.grid-mooc-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  justify-content: space-between;
  margin: 2rem 10%;
}

.grid-mooc-info div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  /*background-color: rgba(38, 128, 86, 0.8);*/
}

.grid-mooc-info div:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  /*background-color: rgba(38, 118, 128, 0.8);*/
}

.grid-mooc-info div:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  /*background-color: rgba(62, 14, 94, 0.8);*/
}

/* Just for visually help we will use flex-box & grid-layout*/
.size-1920-1080 {
  width: 1920px;
  height: 1080px;
}

.size-1920-600 {
  width: 1920px;
  height: 600;
}

.Our-Partners {
  width: 1920px;
  height: 600px;
}

.university-logos {
  width: 220px;
  height: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* Flexbox classes */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-content-start {
  justify-content: start;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-end {
  justify-content: end;
}

.flex-content-between {
  justify-content: space-between;
}

.flex-content-evenly {
  justify-content: space-evenly;
}

.flex-content-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

/* Positioning classes */
.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Width classes */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/* Margin classes */
.my-2 {
  margin: 2rem 0;
}

/* Footer styling classes and ids */
footer {
  display: flex;
  margin-top: 8rem;
  padding: 5rem 8rem;
  flex-direction: column;
  background-color: #929fa6;
}

/* Class for styling the footer's links */
.link-img {
  width: 60px;
  height: auto;
  margin: 0.5rem;
  cursor: pointer;
}

.person-img {
  width: 180px;
  height: auto;
  margin: 0.5rem;
  cursor: pointer;
}

/* Styles the company's logo in the footer */
#company-logo {
  width: 8rem;
  height: auto;
}

/* Footer's horizantal line */
#footer-hr {
  width: 100%;
  height: 1px;
  margin: 3rem 0;
  border: 0;
  border-top: 1px solid #bb0a01;
  /* background-image: linear-gradient(to right, rgba(187, 10, 1, 0), rgba(187, 10, 1, 0.75), rgba(187, 10, 1, 0)); */
}

.footer-link {
  margin-bottom: 0.2rem;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.7;
}

.menu-link:hover {
  opacity: 0.7;
}

/* Button class */
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

/* Register button */
.register-btn {
  color: white;
  background-color: #bb0a01;
}

.register-btn:hover {
  color: #bb0a01;
  background-color: white;
}

/* Login and logout button */
.log-btn {
  color: #bb0a01;
  background-color: white;
}

.log-btn:hover {
  color: white;
  background-color: #bb0a01;
}

/* Class for limiting the content away from the edges */
.container {
  margin: 2rem 10%;
}

/* Title styling for subjects and courses pages */
.content-header {
  overflow: hidden;
}

/* Style for the text above the title, indicating the location inside the website */
.content-header a,
.content-header span {
  margin-right: 5px;
  color: #485864;
  text-decoration: none;
  font-size: 16px;
}

.content-header a:hover {
  color: #0c1013;
}

/* The title of the webpage */
.content-header h1 {
  color: #0c1013;
  font-size: 32px;
}

/* Red horizontal line next to the title */
.red-line {
  width: 80%;
  height: 1px;
  border: 0;
  border-top: 1px solid #bb0a01;
}

/* Page description */
.content-header p {
  color: #485864;
}

/* Positioning the content-header's title correctly */
.content-title {
  margin: -18px 0;
}

/* Section encompassing a subject and it's courses */
.subject-section {
  margin: 3rem 0;
}

/* Subject's preview image */
.subject-img {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: 5px;
}

/* Relocate the 2nd image a bit */
.subject-img-second {
  margin: -820px 0 0 -200px;
}

/* Relocate the 4th image a bit */
.subject-img-fourth {
  margin: -200px 0 0 -900px;
}

.subject-section ul {
  list-style-type: none;
}

.subject-section li {
  margin-bottom: 1.5rem;
}

/* Name of a course in a subject section */
.subject-section .course-name {
  display: inline-block;
  color: #0c1013;
  font-weight: 900;
}

/* Info box next to course name */
.course-info-box {
  display: inline-block;
  margin: 0 8px;
  padding: 4px;
  color: #485864;
  border-radius: 10px;
  background-color: #e4dadf;
}

/* More info links styling */
.subject-section .more-info-link {
  color: #bb0a01;
  text-decoration: none;
  cursor: pointer;
}

.subject-section .more-info-link:hover {
  color: #e4dadf;
}

/* Section describing a single course */
.course-section {
  margin-top: 4rem;
}

.course-img {
  max-width: 20%;
  height: auto;
}

.course-section h3 {
  display: inline;
  color: #0c1013;
  font-size: 26px;
}

.course-section span {
  margin-left: 8px;
  color: #485864;
}

/* Course's covered topics */
.course-section ol li {
  color: #0c1013;
  font-weight: 900;
}

/* Links to external resources */
.course-section a:not(.enroll-btn) {
  display: block;
  color: #bb0a01;
}

.course-section a:not(enroll-btn):hover {
  opacity: 0.8;
}

/* Button for enrolling for a specific lesson */
/* Floats right */
.enroll-btn {
  float: right;
  padding: 7px;
  border: 1px solid #bb0a01;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: #bb0a01;
}

/* Above button's hover effect */
.enroll-btn:hover {
  color: #bb0a01;
  background-color: white;
}

/* Costas page styling classes and ids */
/* Profile image style */
#costas-profile-img {
  max-width: 400px;
  height: auto;
}

/* Aueb logo beneath */
#costas-aueb-logo {
  margin-left: 10px;
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/* Images redirecting to external links */
.costas-external-links {
  width: 120px;
  height: auto;
  margin: 0 2rem;
  border: 1px solid whitesmoke;
  border-radius: 50%;
}

.costas-external-links:hover {
  border: 1px solid #bb0a01;
}

/* # Table containing more infomarion about Costas */
#costas-info-table {
  margin: 5rem 0;
}

/* Center the table */
#costas-info-table table {
  width: 50%;
  margin: 5rem auto;
  border-collapse: collapse;
}

/* Rows */
#costas-info-table tr {
  font-size: 20px;
}

/* Make the second column align right */
#costas-info-table td:nth-child(even) {
  text-align: right;
}

/* Columns */
#costas-info-table td {
  padding: 1rem;
  color: #0c1013;
  font-weight: 400;
}
